body {
  font-family: Arial;
  margin: 0;
  background: lightgray;
  color: black;
}

header {
  background: steelblue;
  color: white;
  text-align: center;
  padding: 25px;
}

nav {
  background: darkgray;
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  background: white;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
}

footer {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
}
